# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata
.jekyll-now

# Environment
.env
.env.*

# Editor files
*.swp
.DS_Store
.idea/
.vscode/

# Node
node_modules/

# Logs
*.log

# Build artifacts
dist/
build/
_build/
