title: "Thembo Jonathan"
subtitle: "Software Engineer"
description: >-
  Personal website of Thembo Jonathan, a Software Engineer specializing in AI, IOT and Web domains.
baseurl: ""
url: "https://jona42-ui.github.io"
author: "THEMBO JONATHAN"
email: "jonathanthembo123@gmail.com"
phone: "+256770688802"
github_username: "jona42-ui"
linkedin_username: "thembo-jonathan"

# SEO Settings
lang: "en"
locale: "en_US"
keywords: "software engineer, AI/ML systems, web development, full stack developer, portfolio"
social:
  name: THEMBO JONATHAN
  links:
    - https://github.com/jona42-ui
    - https://www.linkedin.com/in/thembo-jonathan/

# Build Settings
markdown: kramdown
highlighter: rouge

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/
  - .git
  - .gitignore
  - README.md
  - LICENSE
  - _layouts
  - _includes
  - pages

# Include directories
include:
  - assets
  - .nojekyll

# Performance Optimization
future: false
unpublished: false
source: "."
destination: "./_site"
encoding: "utf-8"