<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand" href="/">THEMBO JONATHAN</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <div class="hamburger-icon">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link {% if page.url == '/' %}active{% endif %}" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/projects' %}active{% endif %}" href="/pages/projects">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if page.url contains '/education' %}active{% endif %}" href="/pages/education">Education</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if page.url contains '/blog' %}active{% endif %}" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Blog
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="/pages/blog">Personal Blog</a>
            <a class="dropdown-item" href="https://thembo.substack.com/">Substack</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/jona42-ui" target="_blank">GitHub</a>
        </li>
        <li class="nav-item">
          <a class="nav-link contact-btn" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>