<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{{ '/' | relative_url }}">{{ site.title }}</a>
    <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarMenu">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="{{ '/' | relative_url }}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/pages/cv' | relative_url }}">CV</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://thembo.substack.com/">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ '/pages/projects' | relative_url }}">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="https://github.com/jona42-ui">GitHub</a>
        </li>
      </ul>
    </div>
  </div>
</nav>